@import "mixins";
@import "variables";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#present_rates_container, #exchange_rate_calculator {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 10px;
  color: $deep_blue;
  background: $light_blue;
  .header{
    justify-items: center;
    grid-column: 1 / 4;
    padding: 20px 0;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    .header_text {
      text-align: center;
      grid-column: 2 / 3;
      a {
        color: $dark_blue;
        font-weight: 900;
      }
    }
    .filters {
      width: 100%;
      grid-column: 2 / 3;
      justify-items: center;
      .left {
        width: 75%;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

h1, h2, h3, p {
  &::selection {
    background: $deep_blue;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 14px;
  }
  p {
    font-size: 10px;
  }
  #present_rates_container, #exchange_rate_calculator {
    grid-template-columns: 0 1fr 0;
    .header {
      grid-template-columns: 0 1fr 0;
      .filters {
        grid-column: 1 / 4;
        .left {
          width: 100%;
        }
      }
    }
  }
}
