@import "mixins";
@import "variables";

.month_select_container{
  height: 180px;
  overflow: scroll;
  .month_select{
    height: 40px;
    @include flex(1);
    transition: 0.2s ease;
    color: $deep_blue;
    font-weight: 700;
    &:hover{
      background: $overlay;
    }
  }
  .selected{
    background: $deep_blue;
    color: $light_blue;
  }
}
