@import "mixins";
@import "variables";

.date_picker_container {
  width: 90%;
  position: relative;
  @include inputTitle;
  @include inputHeader;
  .content {
    width: 210px;
    cursor: pointer;
    max-height: 230px;
    position: absolute;
    z-index: 11;
    border: 1px solid $deep_blue;
    margin-top: -1px;
    padding-bottom: 5px;
    background: $light_blue;
    //min-height: 175px;
  }
}

@media (max-width: 768px) {
  .date_picker_container {
    .content {
      //left: -50%;
      right: 0;
    }
  }
}
