@import "mixins";
@import "variables";
.text_input_container{
  width: 90%;
  z-index: 10;
  @include inputTitle;
  input {
    background: $light_blue;
    height: 30px;
    width: 100%;
    border: 1px solid $deep_blue;
    //text-align: center;
    padding-left: 10px;
    font-size: 12px;
    vertical-align: baseline;
    z-index: 10;
    color: $deep_blue;
    font-weight: 700;
  }
  .disabled {
    background: rgb(224, 224, 224);
    border: 1px solid rgb(168, 168, 168)
  }

}
